*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

header{
    background: #3b3939;
    height: 10%;
    text-align: left;
}

footer{
    background: #3b3939;
    height: 5%;
}

section{
    height: 85%;
}

img {
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
  }

.container{
    width: 100%;
    min-height: 100%;
    background: #3b3939;
}

.menu ul{
    display: inline-flex;
    margin: 50px;
}

.menu ul li{
    list-style: none;
    margin: 0 20px;
    color: #fffdfd;
    cursor: pointer;
}

a{
    color: #fffdfd;
}

.indexContainer{
    display: flex;
    color: #fffdfd;
    margin: auto;
    text-align: left;
    padding: 80px;
}

.item{
    width:30%;
    text-align:left;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 1px;
    float:left;
  }

/* .indexContainer :first-child {
    text-align: left;
    display: block;
    float: left;
    width: 40%;
  } */

.commonText{
    margin-left: 80px;
    color: #fffdfd;
    align-content: center;
}

.commonText ul{
    /* display: inline-flex; */
    margin: 50px;
}

.commonText ul li{
    list-style: outside;
    margin: 0 20px;
    color: #fffdfd;
    cursor: pointer;
}

.schwab{
    margin-left: 80px;
    color: #fffdfd;
}

.schwab ul{
    /* display: inline-flex; */
    margin: 20px;
}

.schwab ul li{
    list-style: outside;
    margin: 0 20px;
    color: #fffdfd;
    cursor: pointer;
}
.schwab p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.nameText{
    padding: 5px;
    font-size: xx-large;
    font-style: normal;
}

h2{
    color: rgb(233, 134, 104);
}
